<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{common/header :: header}"></head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-6 col-sm-6 card">
            <h1 class="text-center">Delete</h1>
            <div class="card-body">
                <form th:action="@{/delete/leads/{id}(id=${lead.id})}" th:object = "${lead}" method="GET">
                    <!-- Use a hidden input field to simulate the PUT method -->
                   
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text"  th:field="*{email}" class="form-control" placeholder="Enter email" readonly />
                    </div>

                    <div class="form-group">
                        <label>Password</label>
                        <input type="text" th:field="*{password}" class="form-control" placeholder="Enter password" readonly/>
                    </div>

                    <div class="form-group">
                        <label>Confirm Password</label>
                        <input type="text"  th:field="*{confirmPassword}" class="form-control" placeholder="Confirm password"  readonly/>
                    </div>

                    <div class="form-group">
                        <label>Date of Birth</label>
                        <input type="text"  th:field="*{dateOfBirth}" class="form-control" placeholder="Enter date of birth" readonly />
                    </div>

                    <div class="form-group">
                        <label>Country</label>
                        <input type="text"  th:field="*{country}" class="form-control" placeholder="Enter country" readonly />
                    </div>

                    <div class="box-footer">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<footer th:insert="~{common/footer :: footer}"></footer>
</html>
